<app-header></app-header>

<section class="skills-section section py-5">
  <div class="container">
    <h3 class="section-title font-weight-bold text-center mb-3">
      Skills Overview
    </h3>
    <div class="section-intro mx-auto mb-5 text-secondary justify">
      With over 3 years of experience as a Front-end Developer and Business
      Analyst, I excel in software development and optimizing business
      processes. Below, you'll find a summary of my key technical skills and
      tools. Curious to learn more about my professional journey?
      <p>
        <a class="text-link" >Check out my online resume</a>.
      </p>
    </div>

    <div class="skills-blocks mx-auto pt-5">
      <div class="row">
        <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
          <div
            class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative"
          >
            <h4 class="skills-cat text-center mb-3 mt-5">Frontend</h4>
            <div
              class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center"
            >
              <img class="skills-icon" src="assets/images/frontend-icon.svg" />
            </div>
            <ul class="skills-list list-unstyled text-secondary">
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i
                >HTML5/CSS3/Bootstrap5
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i
                >Angular/React/Redux
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i
                >Javascript/Typescript
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i
                >Node.js/Hapi.js/Express.js
              </li>
            </ul>
          </div>
          <!--//skills-block-inner-->
        </div>
        <!--//skills-block-->

        <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
          <div
            class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative"
          >
            <h4 class="skills-cat text-center mb-3 mt-5">Backend</h4>
            <div
              class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center"
            >
              <img class="skills-icon" src="assets/images/backend-icon.svg" />
            </div>
            <ul class="skills-list list-unstyled text-secondary">
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i>Oracle
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i>PHP
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i>MySQL
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i>MongoDB
              </li>
            </ul>
          </div>
          <!--//skills-block-inner-->
        </div>
        <!--//skills-block-->

        <div class="skills-block col-12 col-lg-4">
          <div
            class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative"
          >
            <h4 class="skills-cat text-center mb-3 mt-5">Others</h4>
            <div
              class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center"
            >
              <img
                class="skills-icon"
                src="assets/images/other-skills-icon.svg"
              />
            </div>
            <ul class="skills-list list-unstyled text-secondary">
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i>Documentation
                (HLD,LLD,FRD..)
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i>Unit Testing
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i>UX/Wireframing
              </li>
              <li class="mb-2">
                <i class="fas fa-check me-2 text-primary"></i>Figma/Balsamiq
              </li>
            </ul>
          </div>
          <!--//skills-block-inner-->
        </div>
        <!--//skills-block-->
      </div>
      <!--//row-->
    </div>
  </div>
  <!--//container-->
</section>
<!--//skills-section-->

<section class="section-featured-projects py-5">
  <div class="container">
    <h3 class="section-title font-weight-bold text-center mb-5">
      Featured Projects
    </h3>

    <div class="project-cards row mb-5">
      <div class="col-12 col-lg-4">
        <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
          <div class="card-img-container position-relative">
            <img
              class="card-img-top rounded-0"
              src="assets/images/projects/project-1-thumb.jpg"
              alt=""
            />
            <div class="card-img-overlay overlay-logo text-center"></div>
            <a class="card-img-overlay overlay-content text-start p-lg-4">
              <h5 class="card-title font-weight-bold">Project Managament</h5>
              <p class="card-text">
                Project Management Tool is a comprehensive solution designed to
                streamline project workflows, enhance collaboration, and
                optimize resource allocation. It empowers teams to efficiently
                manage tasks, track progress in real-time, and meet project
                milestones with precision. With robust reporting and analytics,
                stakeholders gain valuable insights to make informed decisions,
                ensuring projects are delivered on time and within budget.
              </p>
            </a>
          </div>
          <div class="card-body pb-0">
            <h4 class="card-title text-truncate text-center mb-0">
              <a class="text-link">Project Management</a>
            </h4>
          </div>

          <div class="card-footer border-0 text-center bg-white pb-4">
            <ul class="list-inline mb-0 mx-auto">
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">HTML/CSS</span>
              </li>
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">Angular</span>
              </li>
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">NodeJS</span>
              </li>
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill"
                  >Oracle Database</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
          <div class="card-img-container position-relative">
            <img
              class="card-img-top rounded-0"
              src="assets/images/projects/project-2-thumb.jpg"
              alt=""
            />
            <div class="card-img-overlay overlay-logo text-center"></div>
            <a class="card-img-overlay overlay-content text-start p-lg-4">
              <h5 class="card-title font-weight-bold">Education platform</h5>
              <p class="card-text">
                Education Platform Tool, designed to make learning easier and
                more engaging. It uses cutting-edge technology to help teachers
                create lessons, assess progress, and understand students' needs
                better. Whether you're a school looking to improve how you teach
                or a student wanting to learn in new ways, our tool makes
                education more effective and enjoyable.
              </p>
            </a>
          </div>
          <div class="card-body pb-0">
            <h4 class="card-title text-truncate text-center mb-0">
              <a class="text-link">Education platform</a>
            </h4>
          </div>
          <div class="card-footer border-0 text-center bg-white pb-4">
            <ul class="list-inline mb-0 mx-auto">
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">HTML/CSS</span>
              </li>
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">Angular</span>
              </li>
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">NodeJS</span>
              </li>
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill"
                  >Oracle Database</span
                >
              </li>
            </ul>
          </div>
        </div>
        <!--//card-->
      </div>
      <div class="col-12 col-lg-4">
        <div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
          <div class="card-img-container position-relative">
            <img
              class="card-img-top rounded-0"
              src="assets/images/projects/project-3-thumb.jpg"
              alt=""
            />
            <div class="card-img-overlay overlay-logo text-center"></div>
            <a class="card-img-overlay overlay-content text-start p-lg-4">
              <h5 class="card-title font-weight-bold">Asset Management</h5>
              <p class="card-text">
                Empower your organization with our cutting-edge Asset Management
                tool mobile app. Streamline asset tracking, maintenance
                schedules, and lifecycle management seamlessly on-the-go. Boost
                operational efficiency and maximize asset utilization through
                real-time analytics and intuitive user interfaces. Experience
                unparalleled control and visibility over your assets with our
                scalable and customizable solution tailored to meet your
                business needs.
              </p>
            </a>
          </div>
          <div class="card-body pb-0">
            <h4 class="card-title text-truncate text-center mb-0">
              <a class="text-link">Assets Management Mobile APP</a>
            </h4>
          </div>

          <div class="card-footer border-0 text-center bg-white pb-4">
            <ul class="list-inline mb-0 mx-auto">
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">React</span>
              </li>
             
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">MySQL</span>
              </li>
              <li class="list-inline-item">
                <span class="badge bg-secondary badge-pill">NodeJS</span>
              </li>
             
            </ul>
          </div>
        </div>
        <!--//card-->
      </div>
    </div>
  </div>
  <!--///container-->
</section>

<app-footer></app-footer>
