<app-header></app-header>

<section class="section-featured-projects py-5">
  <div class="container">
    <h3 class="section-title font-weight-bold text-center">Resume</h3>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <button
            (click)="printComponent('component1')"
            class="btn btn-primary font-weight-bold theme-btn-cta float-end"
          >
            Print
          </button>
        </div>
      </div>
    </div>

    <div class="project-cards row mb-5" id="component1">
      <div class="col-12 col-lg-12">
        <div class="resume-container container mt-2">
          <div
            class="header text-center mb-4 animate__animated animate__fadeInDown"
          >
            <h1>Kosana Praveen Kumar</h1>
            <p>
              Mobile: <a href="tel:+91-8341011015">+91-8341011015</a> | Email:
              <a href="mailto:praveenkosana55@gmail.com"
                >praveenkosana55&#64;gmail.com</a
              >
            </p>
            <p>
              Address: Flat 502, Sri Sairam Enclave, North extension, Door no.
              50-96-8/6, MIG-21 Behind Sai Baba Temple, Seethamadhara,
              Visakhapatnam-530013
            </p>
          </div>

          <div class="section mb-4">
            <h2 class="text-primary">Professional Summary</h2>
            <p>
              Dynamic and results-oriented Front-end Developer and Business
              Analyst with over 3 years of experience in software development
              and business process optimization. Proven track record in
              developing robust code for high-volume businesses and translating
              complex business requirements into scalable technological
              solutions. Adept at driving innovations and implementing effective
              solutions, with a focus on improving system functionalities and
              operational efficiency.
            </p>
          </div>

          <div class="section mb-4">
            <h2 class="text-primary">Technical Proficiencies</h2>
            <ul>
              <li>
                <strong>Programming Languages:</strong> C, C++, Java; proficient
                in Angular 14, HTML5, CSS3, JavaScript
              </li>
              <li>
                <strong>Frameworks & Tools:</strong> Angular, Figma, Balsamiq
              </li>
              <li><strong>Databases:</strong> Advanced skills in MySQL</li>
              <li><strong>Operating Systems:</strong> Linux, Windows</li>
              <li><strong>Software:</strong> Expertise in MS Office Suite</li>
            </ul>
          </div>

          <div class="section mb-4">
            <h2 class="text-primary">Professional Experience</h2>
            <h3 class="text-secondary">
              Senior Technical Lead | DIZI AUTOMATIONS LLP | May 2022 – Present
            </h3>
            <ul>
              <li>
                Continuation of responsibilities from eMudhra with an expanded
                leadership role and increased technical oversight.
              </li>
              <li>
                Lead the documentation and analysis of complex business
                processes; develop use cases, functional specifications, and
                wireframes to support application development.
              </li>
              <li>
                Spearhead collaborative efforts across cross-functional teams to
                ensure seamless design, development, and deployment of business
                solutions.
              </li>
              <li>
                Conduct meticulous QA and UAT to validate systems against user
                requirements, enhancing system reliability and performance.
              </li>
            </ul>

            <h3 class="text-secondary">
              Front-end Developer | ROSTAN Technologies Pvt. Ltd. | Dec 2020 –
              Jan 2022
            </h3>
            <ul>
              <li>
                Developed user-centric, responsive front-end applications in
                alignment with business objectives.
              </li>
              <li>
                Optimized application performance through code improvements and
                advanced Angular techniques.
              </li>
              <li>
                Contributed to the design phase, creating intuitive interfaces
                and improving user experience.
              </li>
            </ul>
          </div>

          <div class="section mb-4">
            <h2 class="text-primary">Educational Background</h2>
            <ul>
              <li>
                <strong
                  >Bachelor of Technology (B.Tech), Computer Science
                  Engineering</strong
                ><br />Raghu Engineering College, Visakhapatnam | 2017<br />Grade:
                67%
              </li>
              <li>
                <strong>Intermediate (+2) M.P.C</strong><br />NRI Junior
                College, Visakhapatnam | 2013<br />Grade: 68%
              </li>
              <li>
                <strong>SSC</strong><br />Won World School, Visakhapatnam |
                2011<br />Grade: 70%
              </li>
            </ul>
          </div>

          <div class="section mb-4">
            <h2 class="text-primary">Professional Skills</h2>
            <ul>
              <li>
                <strong>Strategic Planning:</strong> Exceptional ability in
                strategic planning and requirements prioritization.
              </li>
              <li>
                <strong>Analytical Abilities:</strong> Strong analytical skills
                with a knack for addressing user needs in a timely manner.
              </li>
              <li>
                <strong>Team Collaboration:</strong> Proven track record of
                effective teamwork and leadership in collaborative environments.
              </li>
              <li>
                <strong>Problem Solving:</strong> Expertise in troubleshooting
                and problem-solving, with a strong attention to detail.
              </li>
            </ul>
          </div>

          <div class="section mb-4">
            <h2 class="text-primary">Personal Interests</h2>
            <ul>
              <li>
                Keen interest in fitness and maintaining a healthy lifestyle.
              </li>
              <li>
                Passionate about exploring new technologies and continuous
                personal and professional development.
              </li>
              <li>
                Enjoys cricket and cinema as means of relaxation and
                inspiration.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--///container-->
</section>

<app-footer></app-footer>
