/* You can add global styles to this file, and also import other style files */
.justify{
    text-align: justify;
}
.resume-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
  }
  
  .header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.1em;
    margin: 5px 0;
  }
  
  .header a {
    color: #007bff;
    text-decoration: none;
  }
  
  .header a:hover {
    text-decoration: underline;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.75em;
  }
  
  .section h3 {
    font-size: 1.5em;
    margin-top: 15px;
    color: #0056b3;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section ul li {
    margin-bottom: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  